src/main/mule/sapi-patient-record-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
       <apikit:config name="sapi-patient-record-api-config" api="resource::20b4764e-e029-4fd9-b7f1-61899cf171de:sapi-patient-record-api:1.0.1:raml:zip:sapi-patient-record-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sapi-patient-record-api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-patient-record-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sapi-patient-record-api-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-patient-record-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\patients\(id):sapi-patient-record-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Patient record deleted successfully"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\healthcheck:sapi-patient-record-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "ok"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\patients:sapi-patient-record-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    patientID: 9000000123,
    firstName: "Susan",
    midName: "Alice",
    lastName: "Brooks",
    address: "123 any Street",
    city: "Copperhill",
    state: "Tennessee",
    postalCode: "37317-103",
    country: "USA",
    socialSec: "250-25-1234",
    birthDate: "2019-10-02",
    phoneNum: "706-855-8586",
    gender: "female",
    emergContact: "David Brooks",
    primaryDr: "Cliff Thompson",
    criticalHealth: "Diabetes",
    allergies: "Penicillin",
    medications: "Flonase",
    bloodType: "O+",
    weight: 160,
    emerLong: -81.7888944,
    emerLat: 24.5530453
  }, 
  {
    patientID: 9000000125,
    firstName: "Fred",
    midName: "Robert",
    lastName: "Smith",
    address: "2727 Williams Rd",
    city: "Hayesville",
    state: "North Carolina",
    postalCode: "28904-210",
    country: "USA",
    socialSec: "250-25-1555",
    birthDate: "1957-07-02",
    phoneNum: "706-632-7878",
    gender: "male",
    emergContact: "James West",
    emergNum: "423-874-8500",
    primaryDr: "Shane Squires",
    criticalHealth: "Heart condition requires pacemaker",
    allergies: "none",
    medications: "Baby Asprin",
    bloodType: "A-",
    weight: 230,
    emerLong: -97.5164,
    emerLat: 35.4676
  }, 
  {
    patientID: 9000000130,
    firstName: "David",
    midName: "James",
    lastName: "White",
    address: "456 This Street",
    city: "Nasheville",
    state: "Tennessee",
    postalCode: "37013-113",
    country: "USA",
    socialSec: "325-91-7523",
    birthDate: "1983-07-12",
    phoneNum: "423-894-6595",
    gender: "male",
    emergContact: "Mary White",
    primaryDr: "David Miller",
    criticalHealth: "Lung Cancer",
    allergies: "Latex",
    medications: "Apixaban",
    bloodType: "O+",
    weight: 200,
    emerLong: -80.1495,
    emerLat: 26.0112
  }, 
  {
    patientID: 9000000140,
    firstName: "Mary",
    midName: "Katheryn",
    lastName: "Plants",
    address: "4 Palm Way",
    city: "Miami Gardens",
    state: "Florida",
    postalCode: "33054-225",
    country: "USA",
    socialSec: "258-65-3012",
    birthDate: "1930-01-11",
    phoneNum: "325-132-6595",
    gender: "female",
    emergContact: "Sue Smith",
    primaryDr: "Gary Washington",
    criticalHealth: "diabetes, breast cancer, double knee replacements",
    allergies: "Nuts",
    medications: "Apixaban",
    bloodType: "O+",
    weight: 125,
    emerLong: -83.510391,
    emerLat: 35.714321
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\patients\(id):sapi-patient-record-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  patientID: 90000123,
  firstName: "Susan",
  midName: "Jane",
  lastName: "Brooks",
  address: "123 Main Street",
  city: "San Jose",
  state: "California",
  postalCode: "94074-123",
  country: "USA",
  socialSec: "123-987-6532",
  birthDate: "1983-08-20",
  phoneNum: "706-855-1203",
  gender: "Female",
  emergContact: "David Williams",
  primaryDr: "Provost Andrea",
  criticalHealth: "Diabeties",
  allergies: "penicillin",
  medications: "Flonase",
  bloodType: "B+",
  weight: 175,
  emerLong: 204,
  emerLat: 360
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\patients:application\json:sapi-patient-record-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Patient record succesfully created."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
